// default config

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "font-wendy-pixelizada";
    src: url(../assets/fonts/wendy.ttf);
}

$font-padrao: "font-wendy-pixelizada";

body {
    background-color: #77477b;
    font-family: $font-padrao;
    overflow: hidden;
    
    &::-webkit-scrollbar {
        width: 5px;
        background-color: #2d1b2e;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(100, 91, 91, 0.445);
    }
}

// window da pagina  

.container {
    // background-color: #77477b;
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    .window {
        background-color: #2d1b2e;
        width: 80vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        border-left: 5px solid #2d1b2e;
        border-bottom: 5px solid #2d1b2e;
        border-right: 5px solid #2d1b2e;

        .header_window {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 4px;

            .logo_window {
                background-color: #2d1b2e;
                width: 100%;
                height: 23px;
                font-size: 30px;
                color: white;
                display: flex;
                align-items: center;

                .icon_folder {
                    width: 23.5px;
                }

                .title_window {
                    margin-left: 8px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    .titles_paths{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }

    }
}