$fonte-padro: "font-wendy-pixelizada";

.channels_window {
    background-color: #2d1b2e;
    width: 100%;
    height: 89vh;
    overflow: auto;

    .container_channels {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: auto;
        padding: 2% 5% 5% 5%;
        color: black;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(100, 91, 91, 0.445);
        }

        .loading_container {
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container_addchannel_save {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 10px;

            .addchannel_link {
                display: flex;
                align-items: center;
                text-decoration: none;

                .title_saved_link {
                    font-size: 30px;
                    color: white;
                }

                .img_saved_link {
                    margin-right: 20px;
                    width: 60px;

                    &:hover {
                        transform: translateY(8px);
                    }
                }
            }

        }

        .channels {
            display: grid;
            grid-gap: 16px;
            justify-content: center;
            grid-template-columns: repeat(auto-fill, 300px);

            .channels_videos_alert {
                color: white;
                font-size: 30px;
            }

            .container_channel {

                .channel {
                    padding: 10px;
                    background-color: #202020a9;
                    height: 145px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    text-decoration: none;
                    border-radius: 10px;

                    .img_and_desc_card {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        overflow: hidden;
                        justify-content: center;
                        

                        .img_channel {
                            width: 100px;
                            border: solid white 4px;
                            border-radius: 50%;
                        }

                        .desc_channel {
                            font-style: italic;
                            // margin-left: 15px;
                            color: rgb(2, 148, 192);
                            font-size: 20px;
                            line-height: 110%;
                            display: -webkit-box;
                            -webkit-line-clamp: 4;
                            -webkit-box-orient: vertical;
                            text-overflow: ellipsis;
                        }
                    }


                    .title_channel {
                        color: rgb(255, 255, 255);
                        font-size: 25px;
                        line-height: 90%;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        text-overflow: ellipsis;
                    }
                }

                .container_c_buttons {
                    display: flex;
                    justify-content: center;

                    .delete_channel {
                        cursor: pointer;
                        margin-top: 5px;
                        border: none;
                        background-color: red;
                        color: white;
                        font-size: 15px;
                        font-family: $fonte-padro;
                    }
                }
            }
        }
    }
}