.descri_window {
    background-color: #f9f4ea;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-content: center;

    .descri{
        padding: 1px 5px 5px 5px;
        color: #000000;
        font-size: 22px;
        line-height: 80%;
    }
}

.line_window {
    width: 100%;
    background-color: #f9f4ea;
    height: 5px;
    margin-top: 5px;
}

.main_window {
    background-color: #c9b399;
    width: 100%;
    height: 85vh;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(100, 91, 91, 0.445);
    }


    .container_folders {
        width: 100%;
        height: 62vh;
        padding: 20px;

        .folders {
            display: grid;
            grid-gap: 16px;
            justify-content: center;
        }

        .a_folder {
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-auto-flow: column;
            justify-content: center;
            text-decoration: none;
            margin-top: 20px;

        }
    }

    .container_desc {
        color: #000000;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
    }
}

@media screen and (min-width: 1242px) {
    .descri_window {
        background-color: #f9f4ea;
        width: 100%;
        height: 12vh;
        
        .descri{
            padding: 1px 5px 5px;
            color: #000000;
            font-size: 34px;
            line-height: 80%;
            text-align: center;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    .folders {
        grid-template-columns: repeat(auto-fill, 300px);
    }

    .folder {
        width: 100px;

        &:hover {
            transform: translateY(8px);
        }
    }

    .folder_title {
        color: black;
        font-size: 40px;
    }
}

@media screen and (max-width: 1241px) {
    .descri_window {
        background-color: #f9f4ea;
        width: 100%;
        height: 15vh;
        
        .descri{
            padding: 1px 5px 5px;
            color: #000000;
            font-size: 33px;
            line-height: 80%;
            text-align: center;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    .folders {
        grid-template-columns: repeat(auto-fill, 300px);
    }

    .folder {
        width: 100px;

        &:hover {
            transform: translateY(8px);
        }
    }

    .folder_title {
        color: black;
        font-size: 40px;
    }
}

@media screen and (max-width: 910px) {

    .descri_window {
        background-color: #f9f4ea;
        width: 100%;
        height: 15vh;
        
        .descri{
            padding: 1px 5px 5px;
            color: #000000;
            font-size: 30px;
            line-height: 80%;
            text-align: center;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    .folders {
        grid-template-columns: repeat(auto-fill, 200px);
    }

    .folder {
        width: 90px;

        &:hover {
            transform: translateY(8px);
        }
    }

    .folder_title {
        color: black;
        font-size: 40px;
    }

}

@media screen and (max-width: 582px) {

    .descri_window {
        background-color: #f9f4ea;
        width: 100%;
        height: 15vh;
        
        .descri{
            padding: 1px 5px 5px;
            color: #000000;
            font-size: 28px;
            line-height: 80%;
            text-align: center;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    .folders {
        grid-template-columns: repeat(auto-fill, 180px);
    }

    .folder {
        width: 60px;

        &:hover {
            transform: translateY(3px);
        }
    }

    .folder_title {
        color: black;
        font-size: 30px;
    }

}

@media screen and (max-width: 533px) {
    .descri_window {
        background-color: #f9f4ea;
        width: 100%;
        height: 15vh;
        
        .descri{
            padding: 1px 5px 5px;
            color: #000000;
            font-size: 25px;
            line-height: 80%;
            text-align: center;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
    .folders {
        grid-template-columns: repeat(auto-fill, 120px);
    }
}

@media screen and (max-width: 382px){
    .descri_window {
        background-color: #f9f4ea;
        width: 100%;
        height: 15vh;
        
        .descri{
            padding: 1px 5px 5px;
            color: #000000;
            font-size: 22px;
            line-height: 80%;
            text-align: center;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
    .main_window{
        overflow: auto;
    }
} 
