.header {
    background-color: #2d1b2e;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    color: white;

    // logo title
    .title {
        margin-left: 1vw;
    }

    // navibar logo
    img {
        width: 20px;
    }

    // logo container
    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        padding-left: 4vw;
    }

    .date-hour {
        padding-right: 4vw;
    }

}


@media screen and (max-width: 540px) {
    .header {


        justify-content: center;

        a{
            padding-left: 0;
        }

        .date-hour {
            display: none;
        }
    }
}